.Rightside{
    background: #F9F8FD;
    display: flex;
    flex-direction: column;
    /* padding-top: 1rem; */
    width: 95%;
    margin-left: 0.02rem;


}


.left{
    margin-left: 9rem;
    font-size: 12px;
    color: rgb(53, 53, 206);
}

@media screen and (max-width: 768px) {
    .Rightside{
        margin-left: 3rem;
    }
    .shift{
        margin-left: 1rem;
    }
    .duration{
        margin-left: 1rem;
    }
}